@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: 'Ruluko', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 700px;
}

.header {
  margin: 50px 0px;
}

.title {
  color: #F52F4F;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
}

.account {
  background-image: url('flashcard.jpg');
  background-size: contain;
  border: 1px solid #295A33;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: 300px;
  box-shadow: 10px 10px 5px #888888;
}

.display {
  font-family: 'Ruluko', sans-serif;
  font-size: 25px;
  margin: 5px;
  padding: 19px 0px;
}

.zero {
  background-color: #F52F4F;
  color: #FFFFFF;
}

.input {
  margin-top: 20px;
}

.leftside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
  background-color: blue;
}

.rightside {
  position: absolute;
  top: 0;
  left: 80%;
  bottom: 0;
  right: 0;
  background-color: red;
}

.start {
  color: green;
  padding: 10px;
}

.submit {
  color: blue;
}
